extends layout.pug

block nav
  - var active = "about"

block content

  h1(class="fw-bold text-center mt-4") About
  p(class="fs-4 text-center") What is this site for?
  
  div(class="container-fluid py-4")
    
    p This site was developed by #[a(href="https://www.Librarieshacked.org") Libraries Hacked]. The code is open source and available at [Fine free libraries](https://github.com/LibrariesHacked/fine-free-libraries).

    p For more information please email [info@librarieshacked.org](mailto:info@librarieshacked.org), or contact [@librarieshacked](https://twitter.com/librarieshacked) on twitter.

    p Many thanks to:

    ul 
      li Chris Wood [on Github] who regularly updates the underlying library allowing for multiple library catalogues to be searched.