extends layout.pug

block nav
  - var active = "about"

block content

    h1(class="fw-bold text-center mt-4") About
    p(class="fs-4 text-center") What is this site for?

    div(class="container-fluid py-4")
