extends layout.pug

block nav
  - var active = "about"

block content

  h1(class="fw-bold text-center mt-4") About
  p(class="fs-4 text-center") What is this site for?
  div(class="container-fluid py-4")
    p This site provides a way of searching for public library books in the UK, without having to first pick a library service. It could be useful when looking for a particularly rare book, or just when you are a member of multiple libraries and want to search them all at the same time.
    p This site was developed by #[a(href="https://www.Librarieshacked.org") Libraries Hacked]. The code is open source and available on #[a(href="https://github.com/LibrariesHacked/catalogues-api") GitHub at catalogues-api].
    p For more information please email #[a(href="mailto:info@librarieshacked.org") info@librarieshacked.org].
    p Many thanks to:
    ul 
      li #[a(href="https://github.com/cpwood") Chris Wood] who regularly updates the underlying code library that provides the catalogue search. He has also developed the fabulous #[a(href="https://libraree.org/") Libraree] application. Check that out.