extends layout.pug

block nav
  - var active = "about"

block content

  h1(class="fw-bold text-center mt-4") About
  p(class="fs-4 text-center") What is this site for?
  div(class="container-fluid py-4")
    p The aim of this site is to provide a way of searching for public library books in the UK, without knowing within which service that book may be avaiilable. It could be useful when looking for a particularly rare book, or just when you are a member of multile libraries and want to know if a book is available in any of them.
    p This site was developed by #[a(href="https://www.Librarieshacked.org") Libraries Hacked]. The code is open source and available at #[a(href="https://github.com/LibrariesHacked/catalogues-api") catalogues-api on GitHub].
    p For more information please email #[a(href="mailto:info@librarieshacked.org") info@librarieshacked.org], or contact #[a(href="https://twitter.com/librarieshacked") @librarieshacked] on twitter.
    p Many thanks to:
    ul 
      li #[a(href="https://github.com/cpwood") Chris Wood on Github] who regularly updates the underlying library allowing for multiple library catalogues to be searched. He has also dveloped the fabulous #[a(href="https://libraree.org/") Libraree] site.