extends layout.pug

block nav
  - var active = "accessibility"

block content

    h1(class="fw-bold text-center mt-4") Accessibility
    p(class="fs-4 text-center") How accessible is this site?

    div(class="container-fluid py-4")
