extends layout.pug

block nav
  - var active = "accessibility"

block content

  h1(class="fw-bold text-center mt-4") Accessibility
  p(class="fs-4 text-center") How accessible is this site?
  div(class="container-fluid py-4")
  p We want as many people as possible to be able to use this website. For example, that means you should be able to:
  ul
    li change colours, contrast levels and fonts
    li zoom in up to 300% without the text spilling off the screen
    li navigate most of the website using speech recognition software
    li listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
  p We've also made the website text as simple as possible to understand.
  p #[a(href="https://mcmw.abilitynet.org.uk/") AbilityNet] has advice on making your device easier to use if you have a disability.

  h3 Technical information about this website's accessibility
  p This website has been manually tested using the guide published by the Government Digital Service, #[a(href="https://www.gov.uk/government/publications/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one") doing a basic accessibility check].
  p The site has also been checked using WAVE, an online web accessibility evaluation tool.
  p If you do experience any problems using this website, please do raise these and #[a(href="mailto:info@librarieshacked.org") send us an email].
