extends layout.pug
block content
	div(class='container')
		div(class="row")
			div(class="col-sm-4")
				div(class="card")
					div(class="card-block")
						h4(class="card-title text-primary") search for books
						h6(class="card-subtitle text-muted") books in libraries across the UK
					div(class="card-block")
						form
							div(class="form-group")
								label(for="txtKeywords") keywords
								input(type="text", class="form-control", id="txtKeywords", aria-describedby="keywordsHelp", placeholder="enter keywords", autocomplete="off")
								small(id="keywordsHelp", class="form-text text-muted strong") as you type books should appear to select - enter more keywords to refine the search
							button(class='btn btn-success disabled', type='button', id='btnSearch') search
			div(class="col-sm-4")
				div(class="card")
					div(class="card-block")
						h4(class="card-title text-success") summary
					div(class="card-block")
						div(class="progress progress-bar-info")
							progress(class="progress progress-success" value="0" max="100")
						div(class='row')
							div(class='col col-xs-4')
								p(class='small text-muted strong') found
								p(class='lead text-primary strong', id='found') 0
							div(class='col col-xs-4')
								p(class='small text-muted strong') available
								p(class='lead text-success strong', id='available') 0
							div(class='col col-xs-4')
								p(class='small text-muted strong') unavailable
								p(class='lead text-danger strong', id='unavailable') 0
				div(class="card")
					div(class="card-block")
						h4(class="card-title text-warning") full results
					div(class="card-block")
						table(id="tblResults", class="table table-sm")
							thead
								tr
									th service
									th available
									th unavailable
			div(class="col-sm-4")
				div(class="card")
					div(class="card-block")
						h4(class="card-title text-info") map
						h6(class="card-subtitle text-muted") a map of results
					div(id="map", class="card-block")