extends layout.pug
block content
	.jumbotron
		p(class='lead') searching UK public library catalogues for books

		form(class='form-horizontal')
		fieldset
			.form-group
				label(class='col-lg-2 control-label', for='txtKeywords') keywords
				div(class='col-lg-10')
					input(class='form-control', id='txtKeywords', type='text', placeholder='search term')
