extends layout.pug
block content
	div(class="row")
		div(class="col-6")
			div(class="card mb-3")
				div(class="card-block")
					h4(class="card-title text-muted") search for books
					h6(class="card-subtitle text-muted") books in libraries across the UK
				div(class="card-block")
					form
						div(class="form-group")
							label(for="txtKeywords") title keywords
							input(type="text", class="form-control", id="txtKeywords", aria-describedby="keywordsHelp", placeholder="enter keywords", autocomplete="off")
							small(id="keywordsHelp", class="form-text text-muted") as you type, book options should appear
						button(class='btn btn-link disabled', type='button', id='btnSearch') search
						span &nbsp;
						button(class='btn btn-link disabled', type='button', id='btnClear') clear
		div(class="col-6")
			div(class="card mb-3")
				div(id="map", class="card-block")
	div(class="row")
		div(class="col-12")
			div(class="card")
				div(class="card-block")
					h4(class="card-title text-muted") full results
					h6(class="card-subtitle text-muted") see which libraries have the book
					small(id="progressPercentage", class="form-text text-muted strong") 0% 
						span(id="spSpinner", class="fa fa-spinner fa-spin")
					div(class="progress")
						div(class="progress-bar progress-bar-striped progress-bar-animated", role="progressbar", aria-valuenow="75", aria-valuemin="0", aria-valuemax="100")
					div(class='row')
						div(class='col col-xs-4')
							span(class='small text-muted strong') found
							p(class='lead text-primary strong', id='found') 0
						div(class='col col-xs-4')
							span(class='small text-muted strong') available
							p(class='lead text-success strong', id='available') 0
						div(class='col col-xs-4')
							span(class='small text-muted strong') unavailable
							p(class='lead text-danger strong', id='unavailable') 0
				div(class="card-block")
					table(id="tblResults", class="table")
						thead
							tr
								th library
								th service
								th available
								th unavailable
								th link