extends layout.pug
block content
	p(class='lead') select a book and at least one library service
	form(class='form-horizontal')
	fieldset
		.form-group
			div(class='col-lg-12')
				input(class='form-control', id='txtKeywords', type='text', placeholder='search keywords')
		.form-group
			div(class='col-lg-12')
				input(class='form-control', id='txtKeywords', type='text', placeholder='library')