extends layout.pug

block nav
  - var active = "index"

block content

    h1(class="fw-bold text-center mt-4") Library books
    p(class="fs-4 text-center") Find books in public libraries

    div(class="container-fluid py-4")
        h3(class="fw-bold") 1. Choose a book
        p(classs="lead") Search for a book by ISBN
        div(class="p-4 mt-2 bg-light bg-opacity-75 rounded-2 border")
            form
                div(class="row")
                    div(class="col-12 col-md-6")
                        label(class="form-label", for='txtIsbn') International standard book number
                        div(class="input-group mb-3")
                            span(class="input-group-text")
                                i(class="fas fa-book-open")
                            input(type='text', class='form-control form-control', id='txtIsbn', placeholder='Enter ISBN', autocomplete='off')
                    div(class="col-12 col-md-6")
                        label(class="form-label", for='txtPostcode') Postcode
                        div(class="input-group mb-3")
                            span(class="input-group-text")
                                i(class="fas fa-map-marker-alt")
                            input(type='text', class='form-control form-control', id='txtPostcode', placeholder='Enter your postcode', autocomplete='off')

                div(class="mt-2")
                    button(class='btn btn-outline-success', type='button', id='btnSearch') Run search
                    span(id="spSearchSpinner", class="spinner-grow spinner-grow-sm mx-1", role="status")

            
            p(id="pFeedbackInfo", class="lead mt-3") 

    div(class="container-fluid py-2")
        h3(class="fw-bold") 2. Results
        p(classs="lead") The results of the search will be displayed here.
        button(class='btn btn-outline-dark', type='button', id='btnClear', disabled='disabled') Reset search

        div(class='row py-2')
            div(class='col-12 col-sm-4')
                div(class="alert alert-info")
                    p
                        strong Copies
                    p(class='lead', id='pFound') 0
            div(class='col-12 col-sm-4')
                div(class="alert alert-success")
                    p
                        strong Available
                    p(class='lead', id='pAvailable') 0
            div(class='col-12 col-sm-4')
                div(class="alert alert-warning")
                    p
                        strong Unavailable
                    p(class='lead', id='pUnavailable') 0

        div(class="table-responsive border rounded-2 bg-light bg-opacity-75")
            table(id='tblResults')
                thead
                    tr
                        th Service
                        th Library
                        th Available
                        th Unavailable
                        th Copies
