doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title Library books

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-title" content="Library books")
    meta(name="application-name" content="Library books")
    meta(name="msapplication-TileColor" content="#2d89ef")
    meta(name="msapplication-TileImage" content="/mstile-144x144.png")
    meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet" type="text/css" href="https://unpkg.com/bootswatch@5.3.6/dist/sandstone/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/simple-datatables@8.0.0/dist/style.css")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css")
    link(rel="stylesheet" type="text/css" href="https://unpkg.com/@fortawesome/fontawesome-free@6.4.2/css/solid.min.css")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="stylesheet" href="/css/site.css")

  body

    block nav
      - var active = "index"

    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      div(class="container")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarColor03")
          ul(class="navbar-nav me-auto")
            li(class="nav-item")
              a(class=(active === "index" ? "nav-link active" : "nav-link"), href="/") Home
              if active === "index"
                span(class="visually-hidden") (current)
            li(class="nav-item")
              a(class=(active === "about" ? "nav-link active" : "nav-link"), href="/about") About
              if active === "about"
                span(class="visually-hidden") (current)
            li(class="nav-item")
              a(class=(active === "accessibility" ? "nav-link active" : "nav-link"), href="/accessibility") Accessibility
              if active === "accessibility"
                span(class="visually-hidden") (current)
            li(class="nav-item")
              a(class=(active === "privacy" ? "nav-link active" : "nav-link"), href="/privacy") Privacy
              if active === "privacy"
                span(class="visually-hidden") (current)

    .container

      block content

      footer(class="py-2")
        p A project by #[a(href="https://www.librarieshacked.org") Libraries Hacked]
        div(id="wcb" class="carbonbadge")


    script(src="https://unpkg.com/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" type="text/javascript" crossorigin="anonymous")
    script(src="https://unpkg.com/simple-datatables@8.0.0/dist/umd/simple-datatables.js" type="text/javascript")
    script(src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js", defer=true)
    script(src="/js/site.js")

    block scripts
