doctype html
html
	head
		meta(charset='utf-8')
		title library books | librarydata
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href="/libs/css/bootstrap.min.css")
		link(rel='stylesheet', href="/libs/css/tether.min.css")
		link(rel='stylesheet', href="/libs/css/font-awesome.min.css")
		link(rel='stylesheet', href="/libs/css/leaflet.css")
		link(rel='stylesheet', href="/libs/css/responsive.bootstrap.css")
		link(rel='stylesheet', href="/css/site.css")
	body(class="grey")
		.header.clearfix
			nav(class="navbar navbar-light bg-faded")
				div(class="container")
					button(class="navbar-toggler hidden-lg-up", type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
					div(class="collapse navbar-toggleable-md", id="navbarResponsive")
						a(class="navbar-brand", href="/")
							span(class="text-danger strong") books
		.container(class="main")
			block content
		footer
			.container
				hr
				p an open source #[a(href='https://www.librarieshacked.org') { libraries: hacked }] project, available on #[a(href='https://www.github.com/librarieshacked/catalogues-librarydata') github].
		script(src="/libs/js/jquery.min.js")
		script(src="/libs/js/tether.min.js")
		script(src="/libs/js/bootstrap.min.js")
		script(src="/libs/js/bootstrap3-typeahead.min.js")
		script(src="/libs/js/leaflet.js")
		script(src="/libs/js/jquery.dataTables.js")
		script(src="/libs/js/dataTables.responsive.js")
		script(src="/libs/js/responsive.bootstrap.js")
		script(src="/js/dataTables.bootstrap4.min.js")
		script(src="/js/config.js")
		script(src="/js/site.js")
		block scripts