doctype html
html
	head
		meta(charset='utf-8')
		title library books
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href="/libs/css/bootstrap.min.css")
		link(rel='stylesheet', href="/libs/css/tether.min.css")
		link(rel='stylesheet', href="/libs/css/font-awesome.min.css")
		link(rel='stylesheet', href="/libs/css/leaflet.css")
		link(rel='stylesheet', href="/libs/css/dataTables.bootstrap4.css")
		link(rel='stylesheet', href="/libs/css/responsive.bootstrap4.css")
		link(rel='stylesheet', href="/css/site.css")
	body(class="grey")
		.container(class="main")
			ul(class="nav nav-pills")
				li(class="nav-item") 
					a(class="nav-link active", href="/") books
				li(class="nav-item") 
					a(class="nav-link", href="/bop") on prescription
			hr
			block content
		footer
			.container
				hr
				p a #[a(href='https://www.librarieshacked.org') Libraries Hacked] open source  project, available on #[a(href='https://www.github.com/librarieshacked/catalogues-librarydata') GitHub].
		script(src="/libs/js/jquery.min.js")
		script(src="/libs/js/tether.min.js")
		script(src="/libs/js/bootstrap.min.js")
		script(src="/libs/js/bootstrap3-typeahead.min.js")
		script(src="/libs/js/leaflet.js")
		script(src="/libs/js/jquery.dataTables.js")
		script(src="/libs/js/dataTables.responsive.js")
		script(src="/libs/js/dataTables.bootstrap4.js")
		script(src="/libs/js/responsive.bootstrap4.js")
		script(src="/js/config.js")
		script(src="/js/site.js")
		block scripts