doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title Library books

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="apple-mobile-web-app-title", content="Library books")
		meta(name="application-name", content="Library books")
		meta(name="msapplication-TileColor", content="#2d89ef")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		meta(name="theme-color", content="#ffffff")

		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.2/sandstone/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css")

		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon" type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="stylesheet", href="/css/site.css")

	body

		.container
			block content
			
			footer(class='border-top py-4')
				p A Library lab project by #[a(href="https://www.librarieshacked.org") Libraries Hacked]

		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", type="text/javascript", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest", type="text/javascript")
		script(src="/js/site.js")

		block scripts
