extends layout.pug

block nav
  - var active = "privacy"

block content

    h1(class="fw-bold text-center mt-4") Privacy
    p(class="fs-4 text-center") How do we protect your privacy?

    div(class="container-fluid py-4")
    