extends layout.pug

block nav
  - var active = "privacy"

block content

  h1(class="fw-bold text-center mt-4") Privacy
  p(class="fs-4 text-center") How do we protect your privacy?

  div(class="container-fluid py-4")

    p These pages were created by Dave from Libraries Hacked. You can #[a(href="mailto:info@librarieshacked.org") email me] with any questions.

    h3 Tracking and analytics

    p The site uses a software platform called Umami for website analytics. Umami is an open-source, self-hosted (hosted by Libraries Hacked) analytics solution that does not use cookies or collect personally identifiable information.

    h3 Postcode search

    p The main search page optionally includes a postcode in order to prioritise library services close to the entered postcode.

    p A postcode can be personally identifiable information. The postcode you enter is not stored, either in this site, or in the postcode service used to perform the lookup. This uses another Libraries Hacked service, the #[a(href="https://github.com/LibrariesHacked/api-geography") Geography API]. The postcode is sent to that service over HTTPS encryption, so it is secure during transmission. If in doubt you could avoid using a personal postcode and use something like an organisation one.
