.main {
    padding-top: 30px;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.grey {
    background-color: #F2F4F8 !important;
}

.strong {
    font-weight: 700;
}

.card-title {
    font-weight: 700;
}

#map { 
    height: 300px; 
}